<template id="about-en">
    <div class="main">
        <div class="line">
            Kayano Music Box
        </div>
        <div class="line">
            author:chenzhaoquan
        </div>
        <div class="line">
            address:https://github.com/kayanochen/xxxx
        </div>
        <div class="line">
            email:chenzhaoquan1994@gmail.com
        </div>
        <div class="line">
            the author reserves the right for final explanation of this software
        </div>
    </div>
</template>